body{
  background-color: #F3F3F3;
  font-family: Roboto;
}
.pagina {
  max-width: 614px;
  height: 100%;
  margin: auto;
  background-color: #E5E5E5;
  font-family: Roboto;
}

strong {
  font-weight: 700;
}

em {
  font-weight: 400;
  color: #aaaaaa;
  line-height: 20px;
}

.area-topo {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.topo{
  max-width: 614px;
  height: 80px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.topo img {
  margin-left: 20px;
}

.topo ion-icon {
  font-size: 42px;
  margin-right: 20px;
}

.area-chat {
  width: 100%;
  height: 100%;
  background-color: #F3F3F3;
  display: flex;
}

.chat {
  width: 100%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  padding: 90px 0;
  overflow-y: scroll;
}

.mensagem {
  width: 100%;
  min-height: 40px;
  background-color: white;
  margin: 2px 0;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.texto-mensagem{
  font-size: 14px;
  margin: 5px;
  word-break: break-word;
}

.sistema {
  background-color: #DCDCDC;
}

.reservada {
  background-color: #FFDEDE;
}

.area-rodape {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.rodape{
  max-width: 614px;
  height: 80px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);;
}

.rodape input {
  height: 50px;
  width: 100%;
  margin-left: 20px;
  font-size: 18px;
  font-style: italic;
  color: #000;
  border: 0;
}

.rodape input::placeholder {
  color: #000;
}

.rodape input:focus{
  outline: none;
  font-style: normal;
}

.rodape ion-icon{
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.rodape .send-message-button {
  align-items: center;
}

.rodape div .legenda-reservada{
  font-size: 14px;
  font-weight: 300;
  color: #505050;
  margin-left: 20px;
}



.tela-participantes{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
}

.tela-participantes .lateral-cinza{
  width: 30%;
  height: 100%;
  left: 0;
  background-color: rgba(0,0,0, 0.6);
  position: fixed;
}

.tela-participantes .area-conteudo-barra{
  background-color: white;
  width: 70%;
  height: 100%;
  position: fixed;
  right: 0;
  font-size: 16px;
  padding: 0 10px;
}

.tela-participantes .area-conteudo-barra ion-icon{
  font-size: 22px;
  margin: 10px;
}

.area-conteudo-barra .participantes {
  max-height: 350px;
  overflow-y: scroll;
}

.area-conteudo-barra .participantes div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.area-conteudo-barra .participantes div span {
  display: flex;
  align-items: center;
}

.area-conteudo-barra .visibilidade div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todos span {
  display: flex;
  align-items: center;
}

.checkmark{
  width: 14px;
  margin-right: 10px;
  opacity: 0;
}

.marcar-check{
  opacity: 1;
}

.titulo {
  width: 65%;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin: 20px auto;
}

.tela-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
}

.tela-login img {
  width: 130px;
  margin: 70px 0;
}

.tela-login input {
  width: 70%;
  height: 54px;

  text-align: center;
  font-size: 18px;

  border-radius: 5px;
  border: 2px solid #D7D7D7;
}

.tela-login input:focus {
  outline: none;
}

.tela-login .button-login {
  width: 120px;
  height: 50px;
  background-color: #E7E7E7;
  color: #696969;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 20px;
}

.tela-login .button-login:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

.esconder {
  display: none;
}
